.home {

    .main-heading {
        margin-top: 20px;
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        width: 100%;

        h2 {
            width: 80%;
            text-align: center;
    
        }

        p {
            width: 80%;
            text-align: center;
            margin-top: 20px;
        }
        img {
            border-radius: 20px;
            width: 100%;
        }
    }

    
}